# @file: ~/.config/VSCodium/User/.gitignore
# @mission: ignorar arquivos de runtime, estados internos e caches do VSCodium na pasta User

### Runtime, Caches e Estados do VSCodium
workspaceStorage/
globalStorage/
History/
Backups/
Cache/
CachedData/
logs/
*.log

### Perfis Secundários e Extensões
profiles/**/chatLanguageModels.json
profiles/**/extensions.json
profiles/**/state.vscdb*
profiles/*/extensions
extensions/
extensions_list.txt
zzz/
_controles/_backups_/

### Projetos AL (Dynamics 365 Business Central)
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.bclicense
*.flf
TestResults.xml