# padrao git ignore repos in pc
# --ignorando: Arquivos gerados por Git e editores
.git/
*.swp
*.swo
*.bak
*~
*.log
*.DS_Store
Thumbs.db

# by Appication

# ignore as pastas default do programa
# obs: a snippets/ do codium pode deixa esta vazia - nao vai conflitar com a nova vinda via stow
globalStorage
History
workspaceStorage
# ---
